<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" x-data="theme" x-bind:data-theme="theme">
  <head>
    {{- partial "head.html" . -}}
    {{- block "head" . }}{{- end }}
  </head>
  
  <body class="overflow-y-scroll">
    <div
      id="app"
      class="min-h-screen dark:bg-slate-900 lg:bg-gradient-to-tr lg:from-indigo-300 lg:via-white lg:to-indigo-300 dark:lg:bg-none dark:lg:bg-zinc-900"
    >
      {{- partial "header.html" . -}}
      <div id="main">
        {{- block "main" . }}{{- end }}
      </div>
      {{- partial "footer.html" . -}}
    </div>

    
    {{ if $.Site.Params.Comment.Enable }}
    <!-- Comment Component Start -->
    {{ if $.Site.Params.Comment.Giscus.Enable }}
    <!-- Giscus -->
    {{ partial "comments/giscus.html" . }}
    {{ end }}
    {{ end }}

    <!-- Comment Component End -->
  </body>
</html>
